<h1>Student List</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">Action</th>
 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of studentData">
        <th scope="row">{{x.id}}</th>
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td><span (click)="deleteStudent(x.id)">Delete</span>||
        <a routerLink="/edit/{{x.id}}">edit</a>
        </td>
         
      </tr>
      </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-success" routerLink="/login">log out</button>

  </div>